.chat-input-container {
    height: 8em;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.chat-input {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.user-input-in-modal {
    color: rgb(172, 172, 172);
    margin-bottom: 10px;
}

.response-loader {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Siriwave{
    
}

#space {
    margin: 0.15em;
}
  