/* .home-view-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60rem;
    background-color: rgb(235, 241, 241); /* rgb(241, 243, 243);*/
/* } */

/* .chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;

    border-radius: 6px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); 
}

#chat-divider{
    width: 95%;
    height: 1px;
    background-color: rgb(114, 109, 109);
    margin: 1rem 0;
} */ 