<!DOCTYPE html>
<html>
<head>
  <title>Tasks and Issues</title>
  <!-- Import Material Design from Google -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <style>
    .mdl-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }

    .mdl-grid img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .image-cell {
      width: 300px;
      height: 300px;
      margin: 20px;
      overflow: hidden;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    }
  </style>
</head>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Warehouse Buddy Admin</span>
      </div>
    </header>
    <main class="mdl-layout__content">

      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
          <h3>Tasks</h3>
          <p>Here you can see a list of all the tasks:</p>
          <ul class="mdl-list">
            {% for task in tasks %}
            <li class="mdl-list__item">

              <div style="display: flex; flex-direction: column;">
                <div style="margin-bottom: 10px; font-weight: 700;">
                  {{ task.title }}

                </div>
                <div style="display: flex; flex-direction: row;">
                  <span class="mdl-list__item-primary-content"> {{ task.description }}</span>
                  <form action="/delete_task/{{ task.id }}" method="POST" style="display: inline-block;">
                    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                      <i class="material-icons"> delete </i>
                    </button>
                  </form>
                </div>
                
              </div>
              
            </li>
            <hr/>
            {% endfor %}
          </ul>
          <form action="/create_task" method="POST">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="task_title" name="title">
              <label class="mdl-textfield__label" for="task_title">Task Title</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="task_description" name="description">
              <label class="mdl-textfield__label" for="task_description">Task Description</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <select name="category" class="mdl-selectfield__select">
                <option value="Rozładunek"> Rozładunek </option>
                <option value="Naprawa"> Naprawa </option>
                <option value="Kompletowanie zamówienia"> Kompletowanie zamówienia </option>
              </select>
            </div>
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Create Task</button>
          </form>
        </div>

        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
          <h3>Issues</h3>
          <p>Here you can see a list of all the issues:</p>
          <ul class="mdl-list">
            {% for issue in issues %}
            <li class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
                  [ {{ issue.category }} ] 
                  &nbsp;
                  
                  {{ issue.description }}
              </span>
              <form action="/delete_issue/{{ issue.id }}" method="POST" style="display: inline-block;">
                <input type="hidden" name="issue_id" value="{{ issue.id }}">
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                  <i class="material-icons">delete</i>
                </button>
              </form>
            </li>
            <hr/>
            {% endfor %}
          </ul>
        </div>

        <div class="mdl-grid">

          {% for impath in impaths %}
          <div class="image-cell">
            <img src="{{ url_for('static', filename='images/' + impath) }}"alt="Image!">
          </div>
          {% endfor %}
        </div>

      </div>
    </main>
  </div>
</body>
</html>