#Score {
    width: 150px;
    height: 50%;
    display: flex;
    text-align: center;
    font-weight: bold;
    background-color: #ffffff;
    color: #385783;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 30px;
}


#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#app-width {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    padding-left: 50px;
    padding-right: 50px;
}

header {
    background-color: #749bc4;
    display: flex;
    flex-direction: row;
    height: 90px;
    width: 100%;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 350px;
    background-color: #ffffff;
}

#token {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    height: 250px;
    background-color: #ffffff;
}

#header_logo {
    height: 80%;
    padding: 15px;
}

#welcome-text {
    font-size: xx-large;
    height: 100px;
    width: 100%;
    display: flex;
    text-align: center;
}

#teaser_photos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 250px;
    width: 100%;
}

.teaser-photo {
  justify-content: center;
  flex-direction: column;
  height: 160px;
  width: 40%;
}

#teaser-img:hover {
    transform: scale(1.2);
}

#teaser-img {
    height: 160px;
    width: 200px;
    object-fit: cover;
    padding: 10px;
}

#teaser-photo-text {
    font-size: large;
    padding: 10px;
}

#token {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#enter-token {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px; 
    width: 40%;
    background-color: #ffffff;
}

#enter-token-text {
    text-align: center;
    font-size: large;
    padding: 10px;
}